<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Author</title>
  <link rel="stylesheet" href="/style/bootstrap/css/bootstrap.css"/>
</head>
<body>
<div th:replace="~{partial/header}"></div>
<main>
  <div class="container">
    <div class="card mt-3">
      <div class="card-header">
        <h2 class="card-title">Edit author</h2>
      </div>
      <div class="card-body">
        <form method="post">
          <div class="mb-3">
            <label for="name" class="form-label">Authors full name</label>
            <input id="name" name="name" class="form-control" th:value="${author.getFullName()}" required />
          </div>
          <button type="submit" class="btn btn-primary">Update author</button>
        </form>
      </div>
    </div>
  </div>
</main>
<script src="/style/bootstrap/js/bootstrap.js"></script>
</body>
</html>