<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <link rel="stylesheet" href="/style/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
</head>
<body>
<div th:replace="~{partial/header}"></div>
<main>
    <div class="container">
        <div class="text-end mt-3">
            <a href="/admin/author/add" class="btn btn-lg btn-success">Add new author</a>
        </div>
        <div class="mt-1">
            <h1 class="display-2">All authors</h1>
        </div>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="author: ${authors}">
                        <td th:text="${author.getId()}"></td>
                        <td th:text="${author.getNameCapitalized()}"></td>
                        <td>
                            <a class="btn btn-sm btn-primary" th:href="@{'/admin/author/edit/' + ${author.getId()}}"><i class="bi bi-pencil-square"></i> Edit</a>
                            <a class="btn btn-sm btn-danger" th:href="@{'/admin/author/delete/' + ${author.getId()}}"><i class="bi bi-trash-fill"></i> Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<script src="/style/bootstrap/js/bootstrap.js"></script>
</body>
</html>