<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add publisher</title>
    <link rel="stylesheet" href="/style/bootstrap/css/bootstrap.css" />
</head>
<body>
<div th:replace="~{partial/header}"></div>
<main>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Add a new publisher</h2>
            </div>
            <div class="card-body">
                <form action="/admin/publisher/add" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input id="name" name="name" type="text" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label for="address">Address</label>
                        <input id="address" name="address" type="text" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-success">Add publisher</button>
                </form>
            </div>
        </div>
    </div>
</main>
<script src="/style/bootstrap/js/bootstrap.js"></script>
</body>
</html>