<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Publisher</title>
    <link rel="stylesheet" href="/style/bootstrap/css/bootstrap.css" />
</head>
<body>
<div th:replace="~{partial/header}"></div>
<main>
    <div class="container">
        <div class="text-end mt-3">
            <a class="btn btn-lg btn-success" href="/admin/publisher/add">Add new publisher</a>
        </div>
        <div class="mt-1">
            <h1 class="display-2">All publishers</h1>
        </div>
    </div>
</main>
<script src="/style/bootstrap/js/bootstrap.js"></script>
</body>
</html>