<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browse</title>
  <link rel="stylesheet" href="/style/bootstrap/css/bootstrap.css"/>
</head>
<body>
<div th:replace="~{partial/header}"></div>
<main class="container-fluid">
    <div class="row">
        <div class="col-lg-2 mt-5 p-lg-4">
            <div>
                <h4 class="">Categories:</h4>
            </div>
            <div class="list-group">
                <a th:each="category: ${categories}" th:text="${category.getName()}" th:href="@{'/browse/' + ${category.getId()}}" th:class="'list-group-item list-group-item-action ' + ${currentCategory==category.getId() ? 'active' : ''}">The current button</a>
            </div>
        </div>
        <div class="col-lg">
            <div class="mt-5">
                <div class="mb-3">
                    <h2 class="display-4">Books</h2>
                </div>
                <div class="card-container row-cols-lg-5">
                    <div th:each="product : ${products}" class="card">
                        <div class="card-header">
                            <div class="card-img card-img-top">
                                <img th:src="${product.getImage()}" class="img-fluid" />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title" th:text="${product.getName()}"></h5>
                                <p class="card-text" th:each="author : ${product.getAuthors()}" th:text="${author.getNameCapitalized()}"></p>
                                <p class="card-text">Publisher: <span th:text="${product.getPublisher().getName()}"></span></p>
                                <p class="card-text">$<span th:text="${product.getPrice().toString()}"></span></p>
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <form th:action="@{'/shoppingCart/add' + ${product.getId()}}" method="post">
                                    <button type="submit" class="btn btn-sm btn-success btn-add-to-cart" th:id="@{'productid-' + ${product.getId()}}">Add to cart</button>
                                </form>
                                <a class="btn btn-sm btn-primary" th:href="@{'/details/' + ${product.getId()}}">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="/style/bootstrap/js/bootstrap.js"></script>
<script src="/js/browseAddToCart.js"></script>
</body>
</html>