<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/style/bootstrap/css/bootstrap.css" />
</head>
<body>
<main class="container mt-5">
    <div class="row-cols-lg-2">
        <div class="card">
            <div class="card-header">
                <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Error!</strong> <span th:text="${error}"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <h2 class="display-4">Sign Up</h2>
            </div>
            <div class="card-body">
                <form method="post" action="/signup">
                    <div class="mb-3 p-1">
                        <label for="username" class="form-label">Username:</label>
                        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required />
                    </div>
                    <div class="mb-3 p-1">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="******" required />
                    </div>
                    <div class="mb-3 p-1">
                        <label for="repeatedPassword" class="form-label">Password:</label>
                        <input type="password" id="repeatedPassword" name="repeatedPassword" class="form-control" placeholder="******" required />
                    </div>
                    <div class="mb-3 p-1">
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<script src="/style/bootstrap/js/bootstrap.js"></script>
</body>
</body>
</html>